<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upcoming_events.css' %}">
</head>
<body>
    <table class="table">
        <thead class="table-header">
            <tr>
                <td>Date</td>
                <td>Name</td>
                <td>Location</td>
                <td>Details</td>
            </tr>
        </thead>
        <tbody>
            {% if data %}
            {% for item in data %}
            <tr class="table-row {% if item.date < now %}past-event{% else %}upcoming-event{% endif %}">
                <td class="table-cell">{{ item.name }}</td>
                <td class="table-cell">{{ item.date|date:"M d, Y" }}</td>
                <td class="table-cell">{{ item.location }}</td>
                <td class="table-cell btn-cell">
                    <a href="{{ item.id }}" class="btn">I am the BUTTON!</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="table-row">
                <td class="table-cell" colspan="4">No data available.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
</body>
</html>
